<div class="AllpagesContent">
  <form [formGroup]="rollMasterForm">
    <div class="MasterHeader">
      <div class="text-center" style="width: 10%; float: left; line-height: 60px;">
        <button (click)="goBack()" style="background: none; border: none; padding: 0;margin-right: 20px;margin-left: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="27px"viewBox="0 0 512 512">
            <path fill="#00509e" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm28.9-143.6L209.4 288H392c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24H209.4l75.5-72.4c9.7-9.3 9.9-24.8 .4-34.3l-11-10.9c-9.4-9.4-24.6-9.4-33.9 0L107.7 239c-9.4 9.4-9.4 24.6 0 33.9l132.7 132.7c9.4 9.4 24.6 9.4 33.9 0l11-10.9c9.5-9.5 9.3-25-.4-34.3z"/>
          </svg>
        </button>
      </div>
        <div class="text-start" style="width: 90%; float: left;">
          <h2 style=" font-weight: bold; color: #278bd8;line-height: 60px;font-size: 28px; margin-left: 85px;">
              Role Master</h2>
        </div>
      
    </div>
    <div class="MasterHeaderlable">
      <div class="searchDiv">
        <div class="form-group has-search" style="width: 50%;">
          <span class="bi bi-search form-control-feedback"></span>
          <input type="text" class="form-control search-input" placeholder="Search" formControlName="textsearch"
            [(ngModel)]="textsearch" (keydown.enter)="onSearchEnter($event)">
        </div>
      </div>
      <div style="width: 50%;" class="text-end">
        <!-- <button type="button" class="btn btn-sm default-btn" id='add-btn' data-toggle="tooltip" data-placement="top"
          title="Add Role" (click)="editModal=false" (click)="openModal()"><i title="Add Role"><svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-plus">
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg></i></button> -->
            <button type="button" class="btn btn-primary1" (click)="openModal()" title="Add User">
              <i class="fa fa-plus ng-tns-c205-30"></i> <!-- FontAwesome Icon -->
          </button>
      </div>
    </div>

    <div class="d-flex justify-content-center" style="font-size: 13px !important;">
      <table class="table table-bordered table-striped" style="width: 80%; margin: 0 auto;">
        <thead>
          <tr>
            <th hidden>Role_Id</th>
            <th>Sr. No</th>
            <th>Role Name</th>
            <th>Menu</th>
            <th hidden>Menu</th>
            <th hidden>Description</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of getRole | search: textsearch:filterMetadata | paginate: { itemsPerPage: 5, currentPage: page } let i=index">
            <!-- <td hidden>{{data.roleId}}</td> -->
            <td>{{(page - 1) * 5 + i + 1}}</td>
            <td>{{data.roleName}}</td>
            <td>{{data.menu}}</td>
            <td hidden>{{data.menuId}}</td>
            <td hidden>{{data.description}}</td>
            <td>{{data.isActive}}</td>
            <td>{{data.username}}</td>
            <td>{{data.createdOn | date:'dd-MMM-yyyy'}}</td>
            <!-- <i class="bi bi-trash-fill" style="color: #da291c;" ngbTooltip="Delete"
                              (click)="deleteRow(data.RoleId)"></i> -->
            <td> 
              <!-- <i class="fas- fa-edit" ngbTooltip="Update" style=" color: #4d94c9;"
                (click)="editModalMethod(i,data)"></i> -->
                <!-- <i class="fas fa-edit" ngbTooltip="Update"
                style="cursor: pointer; color: #ffc107; font-size: 1.2rem;"
                (click)="editModalMethod(i,data)"></i> -->

              <svg xmlns="http://www.w3.org/2000/svg" class="fas fa-edit"  (click)="editModalMethod(i,data)"  width="1.4rem" height="1.4rem"
                viewBox="0 0 576 512"> 
                <path   fill="#ffc107"
                  d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2 pagination">

      <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize" [rotate]="true"
        [boundaryLinks]="true" [maxSize]="5" size="sm">
        <!-- <ng-template ngbPaginationPrevious>Prev</ng-template>
              <ng-template ngbPaginationNext>Next</ng-template> -->
      </ngb-pagination>
      <br>
    </div>
  </form>

  <!-- pop up  -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
      <div class="modal-content  modal-lg ">
        <div class="modal-header">
          <div class="row p-0" style="width: 100%; ">
            <div class="col-md-6">
              <h4 class="modal-title">{{ isEditing ? 'Edit Role' : 'Add New Role' }}</h4>
            </div>
            <div class="col-md-6 p-0" style="  text-align: end;">
              <label class="modal-close-icn" (click)="onCloseHandled()" style="float: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fff" class="bi bi-x"
                  viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="container">
              <div class="row">
                <!-- First Column -->
                <div class="col-md-6">
                  <label for="exampleInput" class="default-lbl">Role</label>
                  <input class="form-control form-control-sm" type="text" ngModel="{{roleName}}" name="roleName"
                    placeholder="Role" (blur)="roleOnBlur($event)">
                  <div class="error-message" *ngIf="showError1"> Please enter valid name.</div>
                  <br>
                  <label for="exampleInput" class="default-lbl">Role Description</label>
                  <input class="form-control form-control-sm" type="text" ngModel="{{roleDescription}}"
                    name="roleDescription" placeholder="Role Description" (blur)="descriOnBlur($event)">
                  <div class="error-message" *ngIf="showError2"> Please enter Role Description.</div>
                  <br>
                  <div class="form-check" style="margin-top: 5px;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                      [(ngModel)]="IsActive" (change)="IsCheckedBox()" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{Active}}
                    </label>

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="scrollbarsearchcat2">
                    <div class="clt ">
                      <ul id="menus">
                        <li *ngFor="let menu of MenuSpecific" id="mainmenu_id" class="mainmenu_class">
                          <input type="checkbox" id="{{menu.value}}" name="{{menu.value}}" value="{{menu.value}}"
                            checked="{{menu.checked}}" (click)="SelectAllManus(menu,$event)">
                          <label for="{{menu.value}}" class="menulable"> {{menu.label}}</label>
                          <ul>
                            <li *ngFor="let submenu of menu.items" id="submenu_id" class="submenu_class">
                              <input type="checkbox" id="{{submenu.value}}" name="{{submenu.value}}"
                                value="{{submenu.value}}" checked="{{submenu.checked}}" (change)="getMenuId()">
                              <label for="{{submenu.value}}" class="menulable"> {{submenu.label}}</label>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismis="modal"
            (click)="onCloseHandled()">Close</button>
          <button type="button" class="btn btn-sm  btn-default default-btn_popup"
            (click)="onSaveButton()">{{txt_btn}}</button>
        </div>
      </div>
    </div>
  </div>

</div>