<!-- <div class="body" [ngClass]="getBodyClass()">
    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav> 
    <router-outlet></router-outlet>
</div> -->
<!--  
<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav> -->
 
 <!-- <router-outlet></router-outlet> -->
 <!-- <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>   -->

<!-- <app-sidenav></app-sidenav> -->
<!-- <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>  -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-sidenav></app-sidenav> -->


<!-- <app-sidemenu></app-sidemenu> -->
 
<div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>
</div>
 
