<div class="setheight">

    <div class="MasterHeader">
        <div style="width: 50%">
            <div class="searchbox" style="border: #0066b2;">
                <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Search..."
                    (input)="onSearch()" />
            </div>
        </div>
        <!-- <div class="searchDiv">
            <div class="form-group has-search" style="width: 50%;">
              <span class="bi bi-search form-control-feedback"></span>
              <input type="text" class="form-control search-input" placeholder="Search" formControlName="textsearch"
                [(ngModel)]="searchQuery" (keydown.enter)="onSearchEnter($event)" >
            </div>
          </div> -->

        <div class="text-end" style="width: 50%;">
            <br>

            <button type="button" class="btn-close" aria-label="Close"
                onmouseover="this.style.transform='scale(1.1)'; this.style.transition='transform 0.2s ease-in-out'"
                onmouseout="this.style.transform='scale(1)'; this.style.transition='transform 0.2s ease-in-out'"
                (click)="onClose()"></button>

        </div>
    </div>


    <div class="table-container">
        <table class="table table-bordered table-striped " style="font-size: 13px !important;">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>
                        <div class="d-flex align-items-center" style="gap: 5px;">

                            <label for="selectHeaderCheckbox" class="select-header-label">Select</label>

                            <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="onSelectAll($event)"
                                class="select-header-checkbox" id="selectHeaderCheckbox" />

                        </div>
                    </th>
                    <th>Document No</th>
                    <th>Document Type</th>
                    <th>Revision</th>
                    <th>File Name</th>
                    <th>Po Number</th>
                    <th>Item Number</th>
                    <th>Lot Number</th>
                    <th>Upload Date</th>
                    <th>Updated BY</th>
                    <th>Remarks</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let d of Data ; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        <input type="checkbox" [(ngModel)]="d.select" (change)="onCheckboxChange()"
                            class="supplier-checkbox" />
                    </td>

                    <td>{{ d.documentNo }}</td>
                    <td>{{ d.documentType}}</td>
                    <td>{{ d.revision}}</td>
                    <td>{{ d.fileName }}</td>
                    <td>{{d.poNumber}}</td>
                    <td>{{d.itemNo}}</td>
                    <td>{{d.lotNumber}}</td>
                    <td>{{ d.uploadDate}}</td>
                    <td>{{ d.updatedBy }}</td>
                    <td>{{ d.remarks }}</td>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <ngb-pagination [collectionSize]="filteredData.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
                (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>
        </ul>
    </nav>

    <!-- 
    <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" class="select-header-checkbox" [(ngModel)]="selectAllChecked" (change)="onSelectAll($event)" /></th>
              <th>Document No</th>
              <th>Document Type</th>
              <th>File Name</th>
              <th>PO Number</th>
              <th>Item No</th>
              <th>Lot Number</th>
              <th>Upload Date</th>
              <th>Updated By</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of Data">
              <td><input type="checkbox" [(ngModel)]="doc.select" (change)="onCheckboxChange()" class="supplier-checkbox" /></td>
              <td>{{ doc.documentNo }}</td>
              <td>{{ doc.documentType }}</td>
              <td>{{ doc.fileName }}</td>
              <td>{{ doc.poNumber }}</td>
              <td>{{ doc.itemNo }}</td>
              <td>{{ doc.lotNumber }}</td>
              <td>{{ doc.uploadDate }}</td>
              <td>{{ doc.updatedBy }}</td>
              <td>{{ doc.remarks }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="pagination-control">
        <label for="rowsPerPage">Rows per page:</label>
        <select id="rowsPerPage" [(ngModel)]="itemsPerPage" (change)="onPageChange(1)">
          <option *ngFor="let option of [3, 5, 10, 20]" [value]="option">{{ option }}</option>
        </select>
        
        <ngb-pagination 
          [(page)]="currentPage" 
          [pageSize]="itemsPerPage" 
          [collectionSize]="filteredData.length" 
          (pageChange)="onPageChange($event)">
        </ngb-pagination>
      </div>
       -->




    <div *ngIf="!tpsolaruser" class="upload-section">

        <div class="upload-container d-flex">
            <div class="file-input-container">

                <div class="file-input">
                    <h3>Upload Document</h3>
                    <p class="upload-instructions">Attach a file, then provide details.</p>
                    <label for="fileUpload" class="file-label">
                        <i class="fas fa-upload"></i> Choose a File
                    </label>
                    <input type="file" id="fileUpload" class="file-hidden" [disabled]="disable"
                        (change)="onFileChange($event)">
                    <p *ngIf="selectedFile" class="file-name">Selected: {{ selectedFile.name }}</p>
                </div>
            </div>
            <div class="input-fields-container">
                <div class="input-group">

                    <label for="documentNo" style="margin-top: 8px; padding-right: 4px;">Document No:<span style="color: red;">*</span></label>
                    <input type="text" style="border-radius: 7px; width: 10%;" id="documentNo" [(ngModel)]="documentNo"
                        class="form-control" [class.is-invalid]="!documentNo && showValidationError" placeholder="Enter Document Number" required>


                    <label for="documenttype" style="margin-top: 8px; padding-right: 4px; padding-left: 8px;">Document
                        Type:<span style="color: red;">*</span></label>
                    <!-- <input type="text" style="width: 10%; border-radius: 7px; " id="documenttype"
                        [(ngModel)]="documenttype" class="form-control" placeholder="Enter Document type"> -->
                        <select
                        style="width: 10%; border-radius: 7px;" 
                        id="documentType" 
                        [(ngModel)]="documenttype" 
                        class="form-control" 
                        [class.is-invalid]="!documenttype && showValidationError" 
                        required>
                        <option value="" disabled selected>Select Document Type</option>
                        <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
                      </select>
                </div>

                <div class="input-group" style="margin-top: 6px;">
                    <label for="remarks" style="padding-top: 10px;">Remarks:</label>
                    <textarea id="remarks" style="border-radius: 7px;width: 50%;height: 45px;" [(ngModel)]="remarks"
                        class="form-control" placeholder="Add any remarks here..."></textarea>
                </div>
            </div>
        </div>


        <div class="button-group">
            <button class="btn btn-primary" [disabled]="disable" (click)="onUpload()">Upload</button>
            <button class="btn btn-secondary" (click)="onDownload()">Download</button>
        </div>
    </div>


    <!-- <div *ngIf="!tpsolaruser" class="upload-section">
        <h3>Upload Documents</h3>
        <div class="upload-container">
            <div class="file-input-container">
                <label class="file-label" for="fileUpload">
                    <i class="fa fa-upload"></i> Choose File
                </label>
                <input type="file" id="fileUpload" class="file-hidden" (change)="onFileChange($event)">
                <p class="file-name">{{ selectedFile?.name || 'No file chosen' }}</p>
            </div>
            <div class="input-fields-container">
                <div class="input-group">
                    <label for="documentNo">Document No:</label>
                    <input id="documentNo" [(ngModel)]="documentNo" class="form-control" type="text" placeholder="Enter Document No">
                </div>
                <div class="input-group">
                    <label for="documenttype">Document Type:</label>
                    <input id="documenttype" [(ngModel)]="documenttype" class="form-control" type="text" placeholder="Enter Document Type">
                </div>
                <div class="input-group">
                    <label for="remarks">Remarks:</label>
                    <input id="remarks" [(ngModel)]="remarks" class="form-control" type="text" placeholder="Enter Remarks">
                </div>
            </div>
            <div class="button-group">
                <button class="btn btn-primary" (click)="onUpload()">Upload</button>
                <button class="btn btn-danger" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div> -->

    <div *ngIf="tpsolaruser" class="button-group">
        <button class="btn btn-secondary" (click)="onDownload()">Download</button>
    </div>

</div>