<!-- <app-sidenav ></app-sidenav> -->
<!-- <app-body></app-body> -->
 <!-- <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body> -->
 
<!-- 
 <router-outlet></router-outlet>
 <app-login></app-login> -->
 <!-- <router-outlet [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"> </router-outlet> -->
<!-- 
 <div class="body" [ngClass]="getBodyClass()"> -->
    <!-- <app-login> -->
<!-- </div> -->
<!-- <router-outlet></router-outlet> -->
 <!-- <app-login></app-login> -->
 <router-outlet />


 <!-- ----------------------- -->
 <!-- <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
 <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body> -->
 
