<div class="Allpagescontent">
  <form [formGroup]="UserMasterForm">
    <div class="MasterHeader">
      <div class="text-center" style="width: 10%; float: left; line-height: 60px;margin-left: 50px;">
        <button (click)="goBack()" style="background: none; border: none; padding: 0;margin-right: 20px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="27px"viewBox="0 0 512 512">
            <path fill="#00509e" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm28.9-143.6L209.4 288H392c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24H209.4l75.5-72.4c9.7-9.3 9.9-24.8 .4-34.3l-11-10.9c-9.4-9.4-24.6-9.4-33.9 0L107.7 239c-9.4 9.4-9.4 24.6 0 33.9l132.7 132.7c9.4 9.4 24.6 9.4 33.9 0l11-10.9c9.5-9.5 9.3-25-.4-34.3z"/>
          </svg>
        </button>
    </div>
    <div class="text-start"  style="width: 90%; float: left;  ">
        <h2 style=" font-weight: bold; color: #278bd8;line-height: 60px;font-size: 28px;margin-left: 40px;">
            User Master</h2>
    </div>
    </div>
    <div class="MasterHeaderlable">
      <div class="searchDiv">
        <div class="form-group has-search" style="width: 50%;">
          <span class="bi bi-search form-control-feedback"></span>
          <input type="text" class="form-control search-input" placeholder="Search" formControlName="textsearch"
            [(ngModel)]="textsearch" (keydown.enter)="onSearchEnter($event)" >
        </div>
      </div>
      <div style="width: 50%;" class="text-end">
        <!-- <button type="button" class="btn btn-secondary" id="add-btn" (click)="toggleAddRolePopup()"><i title="Add User"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg></i></button> -->
      <button
      type="button"
      class="btn btn-primary1"
      (click)="toggleAddRolePopup()"
      title="Add User"
    >
      <i class="fa fa-plus ng-tns-c205-30"></i> <!-- FontAwesome Icon -->
    </button>
      </div>
    </div>
    <div class="table-responsive">
    <div class="d-flex justify-content-center" style="font-size: 13px !important;">
      <table class="table table-bordered table-striped" style="width: 80%; margin: 0 auto;">
        <thead>
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Full Name</th>
            <th>Email Id</th>
            <th>Role</th>
            <th>Organization</th>
            <th>Status</th>
            <th>Created By</th> <!-- New column -->
            <th>Created Date</th> <!-- New column -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let role of filteredRoles  | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page }  let i=index">
            <td>{{(page - 1) * 10 + i + 1}}</td>
            <!-- <td>{{ role.id }}</td> -->
            <td>{{ role.userName }}</td>
            <td>{{ role.fullname }}</td>
            <td>{{ role.emailId }}</td>
            <td>{{ role.role }}</td>
            <td>{{ role.supplierName }}</td>
            <td>{{ role.status }}</td>
            <td>{{ role.createdBy }}</td> <!-- Created By Data -->
            <td>{{ role.created_date | date: 'dd-MMM-yyyy' }}</td> <!-- Created Date Data -->
            <!-- <td>
              <i class="bi bi-trash-fill" type="button" style="cursor: pointer; color: #0056b3; font-size: 1.0rem;" (click)="openDeleteConfirmation(role.id)"></i>
              <i class="bi bi-pencil-fill" type="button" style="padding-left: 20px;cursor: pointer; color: #0056b3; font-size: 1.0rem;" (click)="toggleAddRolePopup(role)"></i>
            </td> -->
            <td>
              <i class="fas fa-edit" type="button" style="cursor: pointer; color: #ffc107; font-size: 1.2rem;"
                (click)="toggleAddRolePopup(role)"></i>
               <!-- <i class="fas fa-trash" type="button" style="padding-left: 20px;cursor: pointer; color: #dc3545; font-size: 1.2rem;"
                (click)="openDeleteConfirmation(role.id)" ></i>  -->
            </td>
             <!-- <td>
              <svg (click)="openDeleteConfirmation(role.id)" xmlns="http://www.w3.org/2000/svg"  width="20" height="20" fill="#dc3545" class="bi bi-trash" viewBox="0 0 16 16">

              </svg>
                 <input type="button" name="delete" value="delete" (click)="openDeleteConfirmation(role.id)"> 
              </td>  -->
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <div class="d-flex justify-content-between p-2 pagination">
      <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize" [rotate]="true"
        [boundaryLinks]="true" [maxSize]="5" size="sm">
        <!-- <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template> -->
      </ngb-pagination>
      <br>
    </div>

  </form>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
      <div class="modal-content  modal-lg ">
        <div class="modal-header">
          <div class="row p-0" style="width: 100%; ">
            <div class="col-md-6">
              <h4 class="modal-title">{{ isEditing ? 'Edit User' : 'Add New User' }}</h4>
            </div>
            <div class="col-md-6 p-0" style="  text-align: end;">
              <label class="modal-close-icn" (click)="onCloseHandled()" style="float: right;"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fff" class="bi bi-x"
                  viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="AddUserMasterForm">
            <div class="row" style="padding: 20px;">
              <div class="col-md-6">
                <label for="userName" class="default-lbl"> User Name <span style="color: red;">*</span></label>
                <input class="form-control" type="text"  [(ngModel)]='userName' value="{{userName}}" formControlName="userName" placeholder="Please Enter User Name"
                  name="userName" [ngClass]="{'required-field': isSubmitted && !userName}"> 
              </div>
              <div class="col-md-6">
                <label for="FullName" class="default-lbl">Full Name <span style="color: red;">*</span></label>
                <input class="form-control" type="text"  [(ngModel)]='fullName' value="{{fullName}}" formControlName="fullName" placeholder="Please Enter Full Name"
                  name="fullName"[ngClass]="{'required-field': isSubmitted && !fullName}">
              </div>
              <div class="col-md-12" style="height: 20px;"></div>
              <div class="col-md-6">
                <label for="exampleInput" class="default-lbl">Email Address <span style="color: red">*</span></label>
                <input class="form-control" type="text"  [(ngModel)]='emailId' value="{{emailId}}" formControlName="emailId" placeholder="abc@gmail.com"
                  name="emailId" [ngClass]="{'required-field': isSubmitted && (!emailId || !isValidEmail(emailId))}">
              </div>
              <div class="col-md-6">
                <label for="dropdown5" class="default-lbl">Role</label>
                <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true" placeholder="Please select"
                  [(ngModel)]='roleId' formControlName="roleId" [ngClass]="{'required-field': isSubmitted && (!roleId)}" >
                  <ng-option value="" disabled selected>Select a role</ng-option>
                  <ng-option *ngFor="let option of roleOptions"
                    [value]="option.msT_Role_Id">{{option.roleName}}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-12" style="height: 20px;"></div>
              <div class="col-md-6" *ngIf="roleId === 5">
                <label for="dropdown5" class="default-lbl">Supplier</label>
                <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true" placeholder="Please select"
                  [(ngModel)]='supplierId' formControlName="supplierId" >
                  <ng-option value="" disabled selected>Select a supplier</ng-option>
                  <ng-option *ngFor="let option of supplierOptions"
                    [value]="option.supplierId">{{option.supplierName}}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-6" *ngIf="isEditing">
                <label>Status</label>
                <div>
                  <input class="form-check-input" style="margin: 5px;" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="IsActive" 
                    (change)="IsCheckedBox()" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label" style="padding-top: 0.5%;" for="flexCheckDefault">
                    {{Active}}
                  </label>
                </div>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismis="modal"
            (click)="onCloseHandled()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveRole()">{{txt_btn}}</button>
        </div>
      </div>
    </div>
  </div>


</div>