<div class="Allpagescontent">
    <form [formGroup]="supplierMasterForm">
        <div class="MasterHeader">
            <div class="text-center" style="width: 10%; float: left; line-height: 60px;margin-left: 50px;">
                <button (click)="goBack()" style="background: none; border: none; padding: 0;margin-right: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27px" viewBox="0 0 512 512">
                        <path fill="#00509e"
                            d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm28.9-143.6L209.4 288H392c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24H209.4l75.5-72.4c9.7-9.3 9.9-24.8 .4-34.3l-11-10.9c-9.4-9.4-24.6-9.4-33.9 0L107.7 239c-9.4 9.4-9.4 24.6 0 33.9l132.7 132.7c9.4 9.4 24.6 9.4 33.9 0l11-10.9c9.5-9.5 9.3-25-.4-34.3z" />
                    </svg>
                </button>
            </div>
            <div class="text-start" style="width: 90%; float: left;  ">
                <h2 style=" font-weight: bold; color: #278bd8;line-height: 60px;font-size: 28px;margin-left: 40px;">
                    Supplier Master</h2>
            </div>

        </div>
        <div class="MasterHeaderlable">
            <div class="searchDiv">
                <div class="form-group has-search" style="width: 50%;">
                    <span class="bi bi-search form-control-feedback"></span>
                    <input type="text" class="form-control search-input" placeholder="Search"
                        formControlName="textsearch" [(ngModel)]="textsearch" (keydown.enter)="onSearchEnter($event)">
                </div>
            </div>
            <div style="width: 50%;" class="text-end">
                <!-- <button type="button" class="btn btn-secondary" id="add-btn" (click)="toggleAddSupplierPopup()">
                    <i title="Add Supplier"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg></i></button> -->
                <!-- <button type="button" class="btn btn-primary1" (click)="toggleAddSupplierPopup()" title="Add User">
                    <i class="fa fa-plus ng-tns-c205-30"></i> 
                </button> -->
            </div>
        </div>

        <div class="d-flex justify-content-center" style="font-size: 13px !important;">
            <table class="table table-bordered table-striped" style="width: 80%; margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Supplier Id</th>
                        <th>Supplier Code</th>
                        <th>Supplier Name</th>
                        <th>Country</th>
                        <!-- <th>Country Id</th> -->
                        <!-- <th>Status</th> -->
                        <!-- <th>Created By</th> -->
                        <!-- <th>Created Id</th> -->
                        <!-- <th>Created On</th> -->
                        <!-- <th>Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let supplier of supplierdata  | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page } let i=index">
                        <td>{{(page - 1) * 10 + i + 1}}</td>
                        <td hidden>{{supplier.supplierId}}</td>
                        <td>{{ supplier.supplierCode }}</td>
                        <td>{{ supplier.supplierName }}</td>
                        <td>{{ supplier.country }}</td>
                        <td hidden>{{ supplier.countryId}}</td>
                        <td hidden>{{ supplier.status }}</td>
                        <td hidden>{{ supplier.createdBy }}</td>
                        <td hidden>{{ supplier.mst_user_id }}</td>
                        <td hidden>{{ supplier.createdOn | date: 'dd-MMM-yyyy'}}</td>
                        <!-- <td>
                            <i class="fas fa-edit" type="button"
                                style="cursor: pointer; color: #ffc107; font-size: 1.2rem;"
                                (click)="toggleAddSupplierPopup(supplier)"></i>
                            <i class="fas fa-trash" type="button"
                                style="padding-left: 20px;cursor: pointer; color: #dc3545; font-size: 1.2rem;"
                                (click)="openDeleteConfirmation(supplier.supplierId)"></i>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between p-2 pagination">
            <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
            </ngb-pagination>
            <br>
        </div>
    </form>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <div class="row p-0" style="width: 100%; ">
                        <div class="col-md-6">
                            <h4 class="modal-title">{{ isEditing ? 'Edit Supplier' : 'Add New Supplier' }}</h4>
                        </div>
                        <div class="col-md-6 p-0" style="text-align: end;">
                            <label class="modal-close-icn" (click)="onCloseHandled()" style="float: right;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fff"
                                    class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form [formGroup]="AddsupplierMasterForm">
                        <div class="row" style="padding: 20px;">
                            <!-- Supplier Code -->
                            <div class="col-md-6">
                                <label for="supplierCode" class="default-lbl">Supplier Code <span
                                        style="color: red;">*</span></label>
                                <input class="form-control" type="text" [(ngModel)]="supplierCode"
                                    value="{{ supplierCode }}" formControlName="supplierCode"
                                    placeholder="Enter Supplier Code" name="supplierCode"
                                    [ngClass]="{'required-field': isSubmitted && !supplierCode!}">
                            </div>

                            <!-- Supplier Name -->
                            <div class="col-md-6">
                                <label for="supplierName" class="default-lbl">Supplier Name <span
                                        style="color: red;">*</span></label>
                                <input class="form-control" type="text" [(ngModel)]="supplierName"
                                    value="{{ supplierName }}" formControlName="supplierName"
                                    placeholder="Enter Supplier Name" name="supplierName"
                                    [ngClass]="{'required-field': isSubmitted && !supplierName}">
                            </div>
                            <div class="col-md-12" style="height: 20px;"></div>

                            <div class="col-md-6">
                                <label for="countryName" class="default-lbl">Country</label>
                                <ng-select placeholder="Please select" [(ngModel)]='country' formControlName="country"
                                    [ngClass]="{'required-field': isSubmitted && !country}">
                                    <ng-option value="" disabled selected>Select a country</ng-option>
                                    <ng-option *ngFor="let option of countries "
                                        [value]="option.countryId">{{option.countryName}}</ng-option>
                                </ng-select>
                            </div>

                            <div class="col-md-6">
                                <label>Status</label>
                                <div>
                                    <input class="form-check-input" style="margin: 5px;" type="checkbox" value=""
                                        id="flexCheckDefault" [(ngModel)]="isActive" (change)="IsCheckedBox()"
                                        [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" style="padding-top: 0.5%;" for="flexCheckDefault">
                                        {{Active}}
                                    </label>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveSupplier()">{{txt_btn}}</button>
                </div>
            </div>
        </div>
    </div>